/* roboto-regular - latin */
@font-face 
{
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root
{
    /* Background Color: */
    --menus-bg-color: #181818;
    --background: #f9fcf7;
    --card-bg-color: #fff;

    /* Colors: */
    --gradient-color: #7fcfb7;
    --main-color: #5cc771;
    --sub-color: #006d4c;

    /* Selection: */
    --selection-color: #5cc77180;
}

::selection
{
    background-color: var(--selection-color);
}

*
{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

html
{
    scroll-behavior: smooth;
}

body
{
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;    
    transition: 0.25s;
    color: #1d1d1d;
}

/* ----- ----- Theme ----- ----- */

.Dark-Theme 
{
    background-color: #141418;
    --gradient-color: #f0ca75;
    --main-color: #f0ca75;
    --sub-color: #8a7443;
    --selection-color: #f0ca7580;
}

.Dark-Theme .ProjetosHeader
{
    color: #f1f1f1;
}

.Dark-Theme #Theme::before
{
    content: "Light_Mode";
}

/* ----- ----- Elements ----- ----- */

br, img, span, button, .material-symbols-rounded, #Menu
{
    /* Para o usuario não selecionar*/
    -webkit-user-select:none;
    -ms-user-select: none;
    user-select: none; 
}

a
{
    color: var(--sub-color);
    font-weight: bold;
    transition: .1s;
}

a:hover
{
    color: #0ac;
}

b
{
    color: var(--sub-color);
}

sub
{
    color: var(--sub-color); 
    font-size: .75em; 
    margin: 0;
}

span
{
    background-color: #fff;
    color: var(--sub-color);
    vertical-align: sub;
    margin: 0 .5rem 0 0;
    border-radius: 50%;
    border: 2px solid;
    padding: .5rem;
}

h1
{
    font-size: 1.1em;
    color: #1d1d1d;
}

h2
{
    color: var(--sub-color);
    font-size: 0.95em;
    text-wrap: balance;
}

h4
{
    text-align: left;
    font-size: 1.15em;
}

p
{
    color: #444;
}

nav
{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 0 1em;
}

button
{
    box-shadow: 0px 0px 2px var(--main-color);
    background-color: var(--sub-color);
    border-radius: 4px;
    padding: .75em 1em;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: .1s;
    color: #fff;
}

button:hover
{
    filter: brightness(1.1);
}

.GithubButton
{
    background-color: #565656;
}

/* ----- ----- Menu & Footer ----- -----*/

#Logo
{
    color: var(--main-color);
    font-size: 36px;
    margin: .25em 0;
}

#Logo:hover
{
    color: var(--sub-color);
}

#Menu
{
    border-bottom: 2px solid var(--main-color);
    background: var(--menus-bg-color);
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 80px;
    font-size: 14px;
    flex-wrap: wrap;
    display: flex;
    padding: 1em;
    width: 100%;
    gap: 1em;
}

#MenuItens ul
{
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    padding: 0;
}

#MenuItens li
{
    padding: 1em;
}

#MenuItens a
{
    color: var(--main-color);
    padding: .75rem;
}

#MenuItens a:hover
{
    color: #fff;
}

#Theme::before
{
    content: "Dark_Mode";
    color: #fdfdfd;
    cursor: pointer;
}

#Menu, footer
{
    letter-spacing: 1px;
}

/* ----- ----- Avatar Image ----- ----- */

#Apresentacao
{
    background: linear-gradient(to top, var(--background), var(--gradient-color));
    border-bottom: 2px solid var(--main-color);
    border-radius: 0 0 48px 48px;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-bottom: 4em;
    flex-wrap: wrap; 
    display: flex; 
    height: 65vh;
    padding: 1em;
    width: 100%;
}

#Avatar
{
    border: 2px solid var(--main-color); 
    border-radius: 50%; 
    margin: 1em 2em;
    display: block;
}

/* ----- ----- Section ----- ----- */

section
{
    grid-template-columns: repeat(auto-fill, min(600px, 100%));
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 1em auto;
    display: grid;
    gap: 1em;
}

.ProjetosHeader
{
    text-align: center; 
    margin: 4em 0 2em 0;
}

#Projetos
{
    max-width: 1250px;
    margin: 1em auto;
}

#Habilidades ul
{
    padding: 0;
}

.GridList
{
    grid-template-columns: repeat(auto-fill, min(400px, 100%));
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1em;
}

.SkillsList
{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1em ;
}

.SkillsList li
{
    border: 1px solid var(--main-color);
    border-radius: 48px;
    text-align: center;
    padding: .75em 1em;
    list-style: none;
    min-width: 100px;
    font-size: 12px;
    cursor: default;
}

.Card
{
    box-shadow: 0px 0px 2px var(--main-color);
    background-color: var(--card-bg-color);
    justify-content: space-evenly;
    flex-direction: column;
    text-align: justify;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    padding: 2em;
    height: 100%;
    margin: 1em;
}

.Card nav
{
    justify-content: space-evenly;
    margin-top: 1em;
    gap: 1em 2em;
}

/* ----- ----- footer ----- ----- */

footer
{
    border-top: 2px solid var(--main-color);
    background-color: var(--menus-bg-color);
    justify-content: space-evenly;
    align-items: center;
    min-height: 90px;
    margin-top: 4em;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

footer b, footer p
{
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 14px;
    margin: 1em;
}

footer a
{
    color: var(--main-color);
}

/* ----- ----- Scroll ----- ----- */
::-webkit-scrollbar 
{
    height: 0.75em;
    width: 0.75em;
}

::-webkit-scrollbar-track 
{
    background: #282830; 
}
   
::-webkit-scrollbar-thumb 
{
    box-sizing: border-box;
    border-radius: 2px;
    background: #777; 
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--sub-color); 
}