@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

/* ----- ----- roboto-regular - latin ----- ----- */
@font-face 
{
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root
{
    /* Background Color: */
    --menus-bg-color: #181818;
    --background: #f9fdfaaa;
    --card-bg-color: #fffe;

    /* Colors: */
    --gradient-color: #7fcfb7;
    --main-color: #5cc771;
    --sub-color: #006d4c;

    /* Selection: */
    --selection-color: #5cc77180;
}

::selection
{
    background-color: var(--selection-color);
}

*
{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
}

html
{
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}

body
{
    background-color: var(--background);
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #1d1d1d;
    line-height: 2;
}

#Noise
{
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    background-image:url('img/noise.png');
    background-repeat: repeat;
    mix-blend-mode: overlay;
    opacity: 0.1;
    z-index: 1;
}

/* ----- ----- Theme ----- ----- */

.dark-theme 
{
    /* Background Color: */
    --menus-bg-color: #282828;
    --background: #141418;
    --card-bg-color: #282828;

    /* Colors: */
    --gradient-color: #f0ca75;
    --main-color: #f0ca75;
    --sub-color: #8a7443;

    /* Selection: */
    --selection-color: #ffffff40;

    /* Text Color: */
    color: #d1d1d1;
}

.dark-theme #Theme::before
{
    content: "Light_Mode";
}

.dark-theme #Apresentacao
{
    background: linear-gradient(to top, #282828, var(--gradient-color));
}

.dark-theme .white-icon
{
    filter: invert(1);
}

.dark-theme #Apresentacao h1, .dark-theme h3, .dark-theme main span, .dark-theme .card h4
{
    color: var(--main-color);
}

/* ----- ----- Elements ----- ----- */

br, img, span, button, .material-symbols-rounded, #Menu
{
    /* Para o usuario não selecionar*/
    -webkit-user-select:none;
    -ms-user-select: none;
    user-select: none; 
}

a
{
    color: var(--sub-color);
    font-weight: bold;
    transition: .1s;
}

a:hover
{
    color: #0ac;
}

main span
{
    color: var(--sub-color);
    vertical-align: sub;
    margin: 0 .5rem 0 0;
    border-radius: 50%;
    border: 2px solid;
    padding: .5rem;
}

h3
{
    letter-spacing: .5px;
}

h4
{
    font-size: 1.15em;
    letter-spacing: -.5px;  
}

nav
{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    gap: 0 1em;
}

button
{
    box-shadow: 0px 0px 2px var(--main-color);
    background-color: var(--sub-color);
    border-radius: 4px;
    padding: .75em 1em;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: .1s;
    color: #fff;
}

button:hover
{
    filter: brightness(1.1);
}

.card-github-button
{
    background-color: #565656;
}

/* ----- ----- Menu ----- ----- */

#Logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
}

#Logo span
{
    color: var(--main-color);
    font-size: 36px;
    margin: .25em 0;
}

#Logo:hover span
{
    color: var(--sub-color);
}

#Logo p
{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

#Logo:hover
{
    color: var(--sub-color);
}

#Menu
{
    border-bottom: 2px solid var(--main-color);
    background: var(--menus-bg-color);
    justify-content: space-around;
    letter-spacing: 1px;
    align-items: center;
    text-align: center;
    padding: 1em 0em;
    min-height: 80px;
    font-size: 14px;
    flex-wrap: wrap;
    gap: 0em 1em;
    display: flex;
    width: 100%;
}

#MenuItens
{
    overflow-x: auto;
}

#MenuItens::-webkit-scrollbar 
{
    height: 2px;
}

#MenuItens ul
{
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
}

#MenuItens li
{
    padding: .5em 1em;
}

#MenuItens a
{
    color: var(--main-color);
    padding: .25rem;
}

#MenuItens a:hover
{
    color: #fff;
}

#Theme::before
{
    content: "Dark_Mode";
    color: #fdfdfd;
    cursor: pointer;
}

/* ----- ----- Hero Section ----- ----- */

#Apresentacao
{
    background: linear-gradient(to top, #fff, var(--gradient-color));
    border-bottom: 2px solid var(--main-color);
    border-radius: 0 0 16px 16px;
    justify-content: center; 
    flex-direction: column;
    align-items: center; 
    text-align: center;
    margin-bottom: 4em;
    max-height: 450px;
    flex-wrap: wrap; 
    display: flex; 
    height: 65vh;
    padding: 1em;
    width: 100%;
}

#Apresentacao h1
{
    font-size: clamp(1.1rem, 2.5vw, 1.5em);
    text-shadow: 2px 2px #28282828;
    color: var(--sub-color);
    letter-spacing: -.5px;
    font-weight: bold;
}

#Apresentacao h2
{
    letter-spacing: .5px;
    text-wrap: balance;
    line-height: 1.65;
    font-size: 0.9em;
}

#Apresentacao ul
{
    display: flex; 
    justify-content: space-evenly; 
    margin-top: 1.25em;
    list-style: none; 
}

#Avatar-Moldura
{
    border: 2px dashed var(--main-color); 
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    margin: 1em 2em;
    display: flex;
    height: 170px;
    width: 170px;
}

#Avatar
{
    border: 2px solid var(--main-color); 
    border-radius: 50%; 
    margin: 1em 2em;
    display: block;
}

/* ----- ----- Section ----- ----- */

.double-section
{
    grid-template-columns: repeat(auto-fill, min(600px, 100%));
    justify-content: center;
    align-items: center;
    max-width: 1250px;
    margin: 1em auto;
    display: grid;
    gap: 1em;
}

.projetos-header
{
    text-align: center; 
    margin: 4em 0 2em 0;
}

#Perfil a
{
    display: inline-flex;
    justify-content: end;
}

#Projetos
{
    max-width: 1250px;
    margin: 1em auto;
}

#Habilidades ul
{
    padding: 0;
}

#Habilidades small
{
    border-bottom: 2px dashed var(--main-color);
    padding: .75em 1.5em;
    text-align: right;
    font-weight: bold;
    font-size: 12px;
}

.grid-list
{
    grid-template-columns: repeat(auto-fill, min(400px, 100%));
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 1.75em 0em;
}

.skills-list
{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;
}

.skills-list li
{
    border: 1px dashed var(--sub-color);    
    padding: .5em .75em;
    border-radius: 8px;
    text-align: center;
    list-style: none;
    min-width: 100px;
    font-size: 12px;
}

.card
{
    box-shadow: 0px 0px 2px var(--main-color);
    background-color: var(--card-bg-color);
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    padding: 2em;
    height: 100%;
    margin: 1em;
    gap: .5em;
}

.card nav
{
    justify-content: space-evenly;
    gap: .75em 2em;
}

.card b, .card h4
{
    color: var(--sub-color);
}

/* ----- ----- Footer ----- -----*/
footer
{
    border-top: 2px solid var(--main-color);
    background-color: var(--menus-bg-color);
    justify-content: space-around;
    letter-spacing: .5px;
    align-items: center;
    min-height: 90px;
    margin-top: 4em;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

footer b, footer p
{
    text-align: center;
    font-weight: bold;
    color: #f1f1f1;
    font-size: 14px;
    margin: 1em;
}

footer a
{
    color: var(--main-color);
}

/* ----- ----- Button Top ----- ----- */

.btn-top
{
    border: 2px solid var(--main-color);
    background-color: #282828;
    border-radius: 8px;
    padding: .25em;

    position: fixed;
    margin: .5em;
    bottom: 0;
    right: 0;
}

.btn-top:hover
{
    color: #f1f1f1;
}

/* ----- ----- Scroll ----- ----- */

::-webkit-scrollbar 
{
    height: 0.75em;
    width: 0.75em;
}

::-webkit-scrollbar-track 
{
    background: #282830; 
}
   
::-webkit-scrollbar-thumb 
{
    box-sizing: border-box;
    border-radius: 2px;
    background: #777; 
}

::-webkit-scrollbar-thumb:hover 
{
    background: var(--sub-color); 
}